%ul.nav.pull-right
  - if current_user
    - if current_user.super_admin
      %li
      %li.dropdown
        = link_to '#', :class => 'dropdown-toggle', data: {toggle: 'dropdown'} do
          -# %i.icon-user
          Account
          %b.caret
        %ul.dropdown-menu
          -# account info

          -# edit account
          -# payments
          -# edit locations/users/logs

          -# edit user

          %li
            = link_to edit_user_registration_path do
              %i.icon-user
              User
          %li.divider
          %li
            = link_to edit_account_path(current_user.account_id) do
              %i.icon-home
              Account
          %li
            = link_to admin_account_payment_path do
              %i.icon-credit-card
              Payments
          %li
            = link_to admin_inbox_path do
              %i.icon-tasks
              Admin Inbox
          %li.divider
          %li
            = link_to locations_path do
              %i.icon-sitemap
              Locations
          %li
            = link_to logins_path do
              %i.icon-group
              Users
          %li
            = link_to logs_path do
              %i.icon-list-ul
              Logs

      -# %li
        = link_to admin_account_path do
          %i.icon-user
          Account
    - elsif current_user.terminal_account?
      -# do nothing
    - else
      %li
        = link_to edit_user_registration_path do
          %i.icon-user
          Account

    %li
      = link_to destroy_user_session_path, method: :delete do
        %i.icon-signout
        Sign Out
  - else
    %li
      = link_to new_user_session_path do
        %i.icon-signin
        Sign In
    -# %li
      = link_to new_user_registration_path do
        Sign Up
