.accordion{id: "accordion#{@char.object_id}"}
  - @entries.each do |entry|
    .accordion-group
      .accordion-heading
        %a.btn.use-entry{type: "button", data: {toggle: "button"}} 
          %i.icon-unchecked
          %i.icon-check
        %a.accordion-toggle{"data-parent" => "accordion#{@char.object_id}", "data-toggle" => "collapse", :href => "#entry#{entry.id}"}
          %span.chars
            -# TODO preference
            #{entry.traditional_characters} (#{entry.simplified_characters})
      .accordion-body.collapse{id: "entry#{entry.id}"}
        .accordion-inner
          %p= entry.pronunciation
          %ol.glosses
            - entry.glosses.each do |gloss|
              %li.gloss= gloss


-# %ol.entries
  - @entries.each do |entry|
    %li.entry
      %p.traditional-characters
        = entry.traditional_characters
      %p.simplified-characters
        = entry.simplified_characters
      %p.pronunciation
        = entry.pronunciation
      %ol.glosses
        - entry.glosses.each do |gloss|
          %li.gloss= gloss
