= form_for @card do |f|
  - if @card.errors.any?
    #error_explanation
      %h2= "#{pluralize(@card.errors.count, "error")} prohibited this card from being saved:"
      %ul
        - @card.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :front
    = f.text_area :front
  .field
    = f.label :back
    = f.text_area :back
  .field
    = f.label :deck
    = f.text_field :deck
  .actions
    = f.submit 'Save'
