= simple_form_for @card, :html => { :class => 'form-horizontal' } do |f|
  = f.input :front
  = f.input :back
  = f.input :deck_id
  .form-actions
    = f.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), cards_path, :class => 'btn'
