#prompt.row.hide
  .span6.page-header
    .well
      %span#line= @line
    %h2 Make a Card for this line?
  .span3
    %button#yes-card.btn-primary.btn-large.btn Yes
  .span3
    = link_to 'No', card_builder_for_deck_and_text_line_path(@deck, @line_num + 1), :class => 'btn-large btn'


-# = simple_form_for [@deck, @card], :html => { :class => 'form-horizontal hide' } do |f|
= simple_form_for [@deck, @card], :html => { :class => 'form-horizontal' } do |f|

  = render 'cards/builder'

  = f.hidden_field :front, value: @line
  = f.hidden_field :line_num, value: @line_num

  -# .row
    .span3
      = f.input :back, placeholder: 'Back (Notes)'

  = f.input :back, placeholder: 'Back (Notes)'

  .form-actions
    = f.button :submit, :class => 'btn-primary btn-large btn'
