= simple_form_for @deck, :html => { :class => 'form-horizontal' } do |d|

  = d.simple_fields_for :text do |t|

    = t.input :name, placeholder: 'Name'
    %br
    = t.input :artist, placeholder: 'Artist'
    %br
    = t.input :episode, placeholder: 'Episode'
    %br
    = t.input :raw, placeholder: 'Text'

  .form-actions
    = d.button :submit, :class => 'btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), decks_path, :class => 'btn'
